.section-header {
    text-align: center;
    background: linear-gradient(45deg, #7e8ffe17, #9873ff0c);
    padding: 50px 0 100px 0;
}
.section-header h2 {
    font-size: 32px;
    text-transform: capitalize;
}