.filter {
    text-align: right;
}
.filter-btn {
    color: #333333;
    padding: 10px 10px;
}
.filter-btn option{
    background: #fff;
    color: #000;
    margin: 10px;
}
.applied-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.section-header {
    text-align: center;
    background: linear-gradient(45deg, #7e8ffe17, #9873ff0c);
    padding: 50px 0 100px 0;
}
.section-header h2 {
    font-size: 32px;
    text-transform: capitalize;
}

@media screen and (max-width:576px) {
    .applied-container {
        padding: 30px;
    }
    .applied-job-info {
        flex-direction: column;
    }
    .job-location-and-salary {
        flex-direction: column;
        gap: 5px;
    }
}